h1 {
    font-size: 35px;
}

.home {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
}
  
.left {
    width: 70%;
    padding: 50px 0px 0px 5%;
}
  
.right {
    width: 30%;
    padding: 50px 5% 0px 0px;
}
  
.blogPost {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
  
.blogCarousel {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
}

.page {
    width: 100%;
    padding: 50px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.titleStyle {
    font-size: 36px;
    text-align: center;
}
  
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    gap: 10px;
}
  
.tag {
    width: 200px;
    padding: 10px;
    background-color: rgba(255, 0, 102, 0.55);
    text-align: center;
}