.app {
    background-color: black;
    color: white;
    width: 100%;
    height: 100%; 
  }
  
  .nav {
    color: black;
    font-size: 16px;
    /* need to install poppins */
    font-family: "Poppins";
    text-decoration: none;
  }
  
  .header {
    margin-left: 5%; 
    margin-top: 20px;
    text-decoration: none;
  }
  
  .title {
    color: white;
    font-family: "Poppins";
    font-size: 50px;
    /* padding: "50px"; */
    font-weight: "bolder";
    text-decoration: none;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: white;
    padding: 15px 0px 15px 0px;
    width: 85%;
  }
  
  .post-prev-dis {
    display: flex;
    flex-direction: row;
    gap: 15px
  }
  
  .post-preview {
    display: flex;
    flex-direction: column;
    width: 300px;
  }