@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body {
    @apply bg-black;
  }
}
@font-face {
  font-family: "kallisto";
  src: url("..//fonts/kallisto.otf");
}


.kallistobold {
  font-family: "kallisto", sans-serif;
  font-weight: 800;
  }

.kallisto {
font-family: "kallisto", sans-serif;
font-weight: 500;
font-style: normal;
};
